body{
	background: #F3F5FC;
	width: 100%;
	font-family: 'inter';
}

main {
	margin: 1% auto 6% auto ;
	display: block;
}
.caixa{
	display: inline-block;
	text-align: center;
}

.logo{
	position: relative;
	width:50%;
	margin-top: 30px;
	margin-left: 20%;

}

h1{
	position: absolute;
	display: inline;
	margin-left: 2%;
	top: 120px ;
	color: #0A3871 ;
	font-weight: bold; 
	font-size: 350%;
}

.principal{
	position: relative;
	display: block;
	width: 680px;
	height: 48px;
	left: 240px;
	top: 80px;
	margin-bottom: 160px;
}

.principal input{
	width: 700px;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	border: 2px solid #F3F5FC;
	border-radius: 20px;
	box-shadow: 5px 5px 5px black ;
	color: #0A3871;
}


.botoes {
	position: relative;
	display: inline-block;
	margin-top: 50px;
	margin-left: 240px;
	
}
.infoSimbol{
	width: 20px;
	margin-bottom: 30px;

}
.info{ 
	display: inline;
	font-weight: bold; 
	text-align: center;
	vertical-align: top;

} 

.botoes button{
	width: 328px;
	height: 67px;
	border: 2px solid #0A3871;
	border-radius: 24px;
	padding: 24px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 19px;
	line-height: 19px;
	text-align: center;
	transition: 1s;
	margin-right: 50px;
}

.firstbutton{
	background: #0A3871;
	color: #ffffff;
}

.secondbutton {
	background: #D8DFE8;
	color: #0A3871;
	
}

.firstbutton:hover{
	background: #D8DFE8;
	color: #0A3871;
	border: 2px solid #00FF00;
}
.secondbutton:hover{
	background:#0A3871 ;
	color: #ffffff;
	border: 2px solid #FF0000;
}


footer{
	background: #CCCCCC;
	position: absolute;
	text-align: center;
	padding: 10px 0px 5px 0px;
	margin: 0px auto 0px auto;
	width: 100%;
	
}

footer img{
	display: inline ;
	border-radius: 50%;
	width: 100px;

}

