*{
	box-sizing: border-box;
}


main{
	
	background: #F3F5FC;
	font-family: Arial, Halvetica, sans-seri;
	width: 100%;
	height: 100%;
	padding: 2% 5% 0 10%;
}

.caixa{
	display: inline-block;
	width: 40%;
	
}

.logo{	
	width:150px;
	vertical-align: middle;
}

.titulo{
	display: inline-block;
	padding: 2%;
	color: #0A3871 ;
	font-weight: bold; 
	font-size: 210%;
}

.descriptografia{
	display: block;
	float: right;
	width: 40%;
	margin: 5% 1%;
	background: #FFFFFF;
	border-radius: 32px;
	padding: 20% 5%;
}

.descriptografia input{
	background: #AAAAFF;
	width: 100%;
	font-style: normal;
	font-size: 200%;
	line-height: 150%;
	border: 2px none #F3F5FC;
	border-radius: 20px;
	color: #0A3871;
}

.principal{
	position: relative;
	width: 50%;
	padding: 5% 0 5% 0;
	margin: 2% 0 2% 0;
}


.principal input{
	width: 100%;
	font-style: normal;
	font-size: 200%;
	line-height: 150%;
	border: 2px none #F3F5FC;
	border-radius: 20px;
	box-shadow: 5px 5px 5px black ;
	color: #0A3871;
}

.principal input:focus{
	border: 0px none white;
}

.botoes {
	margin-top: 5%;
}

.aviso{
	margin-top: 10%;
}

.infoSimbol{
	width: 3%;
	margin-bottom: 2%;
}

.info{
	display: inline-block;
	font-weight: bold; 
	text-align: center;
	vertical-align: top;

} 

.botoes button{
	width: 40%;
	border: none;
	border-radius: 24px;
	padding: 3%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 150%;
	line-height: 19px;
	text-align: center;
	transition: 0.5s;
	margin-right: 5%;
}

.firstbutton{
	background: #0A3871;
	color: #ffffff;
}

.secondbutton {
	background: #D8DFE8;
	color: #0A3871;
	
}

.firstbutton:hover{
	background: #AAAAFF;
	color: #0A3871;
}

.secondbutton:hover{
	background:#AAAAFF ;
	color: #ffffff;
	
}


main::after{
	content: "";
	display: block;
	clear: both;
}


.rodape{
	;
    bottom: 0;
	margin: 0 20% 0 20%;
	background: #CCCCCC;
	text-align: center;
	padding: 0.5% 0% 0.5% 0%;
	margin: auto;
	width: 100%;
}

.rodape img{
	display: inline-block;
	border-radius: 50%;
	width: 100px;
	vertical-align: middle;

}

.contato{
	display: inline-block;
	text-align: center;
}


