*{
	box-sizing: border-box;
}

html{
	 height: 100%;
   	 min-height: 100%;
}

body{
	background: #F3F5FC;
	font-family: Arial, Halvetica, sans-seri;
	margin: 0%;
	width: 100%;
	
}

main {
	
	
}
.caixa{
	display: inline-block;
	width: 50%;
	margin: 1% 0 1% 2%;

}

.logo{
	
	width:100px;
	
}

h1{
	display: inline-block;
	padding: 2%;
	color: #0A3871 ;
	font-weight: bold; 
	font-size: 250%;
}

.descriptografia{
	float: right;
	display: block;
	width: 40%;
	height: 700px;
	right: 0;
	margin: 2%;
	background: #FFFFFF;
	border-radius: 32px;
	padding: 5% 0 2%  0;
	
}

.descriptografia input{
	display: block;
	margin: 0 auto;
}

.principal{
	left: 0;
}

.principal input, .descriptografia input{
	position: relative;
	font-style: normal;
	font-weight: 400%;
	font-size: 200%;
	line-height: 150%;
	border: 2px none #F3F5FC;
	border-radius: 20px;
	box-shadow: 5px 5px 5px black ;
	color: #0A3871;
}

.principal input:active{
	border: none ;
	box-shadow: 0 0 0 0;
}


.botoes {
	margin-top: 5%;
}

.infoSimbol{
	width: 20px;
	margin-bottom: 2%;

}
.info{
	display: inline-block;
	font-weight: bold; 
	text-align: center;
	vertical-align: top;

} 

.botoes button{
	width: 328px;
	height: 67px;
	border: 2px solid #0A3871;
	border-radius: 24px;
	padding: 2px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 19px;
	line-height: 19px;
	text-align: center;
	transition: 1s;
	margin-right: 5%;
}

.firstbutton{
	background: #0A3871;
	color: #ffffff;
}

.secondbutton {
	background: #D8DFE8;
	color: #0A3871;
	
}

.firstbutton:hover{
	background: #D8DFE8;
	color: #0A3871;
	border: 2px solid #00FF00;
}
.secondbutton:hover{
	background:#0A3871 ;
	color: #ffffff;
	
}



main::after{
	content: "";
	display: block;
	clear: both;
}

.rodape{
	margin: 0 20% 0 20%;
	background: #CCCCCC;
	text-align: center;
	padding: 1% 0% 1% 0%;
	margin: auto;
	width: 100%;
}

.rodape img{
	display: inline-block;
	border-radius: 50%;
	width: 100px;
	vertical-align: middle;

}

.contato{
	display: inline-block;
	margin: 1% auto;
	text-align: center;
	padding: 1%;
}


